" Supported settings
" https://github.com/JetBrains/ideavim/wiki/set-commands

" Use visualbell instead of beeping
set visualbell

" Number of command-lines that are remembered
set history = 10

" Set highlight on search
set nohlsearch

" Make line numbers default
set number

" Case insensitive searching UNLESS /C or capital in search
" set ignorecase
set smartcase

" Show search result as you type
set incsearch

" Enable relative numbers
set relativenumber

" Set scroll offset
set scrolloff = 8

" Smart join for <C-J>
set ideajoin

" Leader is \

map <C-c> <Esc>

" Mappings to <Action> don't work with noremap
" https://github.com/JetBrains/ideavim#executing-ide-actions
nnoremap <leader>e :e ~/.ideavimrc<CR>
nnoremap <leader>r :action IdeaVim.ReloadVimRc.reload<CR>

nnoremap gr :action FindUsages<CR>
nnoremap <leader>ss :action FindInPath<CR>
